body{
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
}

/* Hero */
.hero{
    height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(60, 30, 10);
}

.hero h1{
    font-size: 60px;
    font-weight: bold;
}

.hero img{
    width: 100%;
    max-width: 3000px;
    height: 650px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 250px;
}

/* Navbar */
.navbar{
    background: linear-gradient(
        to right,
        #8b5e3c,
        #c69c6d
    );

    padding: 18px 40px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    border-bottom: 2px solid #f3d2a2;
}

/* Logo */
.navbar-brand{
    color: white;

    font-size: 35px;
    font-weight: bold;
}

/* Menu */
.nav-link{
    color: white;

    font-size: 18px;

    margin-left: 15px;

    transition: 0.3s;
}

.nav-link:hover{
    color: #ffe4c4;
}

/* Button Navbar */
.navbar .btn-warning{
    background-color: #fff8f0;

    color: #8b5e3c;

    border: none;

    border-radius: 10px;

    padding: 10px 20px;

    font-weight: bold;
}

.navbar .btn-warning:hover{
    background-color: #f3d2a2 !important;
}

/* Owner */
.owner-section{
    background-color: #fff8f0;
}

.owner-card{
    display: flex;
    align-items: center;
    gap: 40px;

    background-color: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.owner-image img{
    width: 280px;
    height: 280px;

    object-fit: cover;

    border-radius: 20px;
}

.owner-content h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.owner-content h4{
    color: #A78265;
    margin-bottom: 20px;
}

.owner-content p{
    line-height: 1.8;
}

/* Card */
.card img{
    height: 250px;
    object-fit: cover;
}

/* Testimoni */
.testimoni img{
    height: 250px;
    object-fit: cover;
    min-height: 120px;
}

/* Promo */
.promo{
    font-weight: bold;
}